.order-status {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.status-0 {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.status-1 {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
}

.status-2 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.status-3 {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#orderStatusModal .form-group {
    display: flex;
    align-items: center;
}

#orderStatusModal .select2 {
    width: 350px;
    display: block;
}

#orderStatusModal .spinner {
    margin-left: 10px;
}
